body { 
    background-color: black;
    color: yellow;
    font-family: arial black, sans-serif;
}

.container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 1000px;
}

.text01 {font-size: 100%;}
.text02 {font-size: 125%;}
.text03 {font-size: 150%;}
.text04 {font-size: 175%;}
.text05 {font-size: 200%;}
.text06 {font-size: 225%;}
.text07 {font-size: 250%;}
.text08 {font-size: 275%;}
.text09 {font-size: 300%;}
.text10 {font-size: 325%;}
.text11 {font-size: 350%;}
.text12 {font-size: 375%;}
.text13 {font-size: 400%;}
.text14 {font-size: 425%;}
.text15 {font-size: 450%;}
.text16 {font-size: 500%;}



/* .container {
    min-height: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
} */



/* .container1 {
    font-size: 75%;
    text-align: center;
}

.container2 {
    font-size: 100%;
    text-align: center;
} */