@font-face {
  font-family: "Orbitron";
  src: url(../Clock/Fonts/orbitron\ light.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(#f7f7f7, #e1e1e1);
  font-family: Orbitron;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_size_800x400 {
  width: 800px;
  height: 400px;
}

.container_oreintation_inline {
  flex-direction: row;
}

.container_flexgrow_2 {
  flex-grow: 1.5;
}

.container_flexgrow_1 {
  flex-grow: 1;
}

.container_position_atbottom {
  align-items: flex-end;
}

/* ------------------------------ */

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch_size_100percent {
  width: 800px;
  height: 400px;
}

.watch_bordershape_radius25px {
  border-radius: 25px;
}

.watch_color_brown {
  background-color: #d2b48c;
}

/* ------------------------------ */

.watch__clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watch__clock_color_black {
  background-color: #373333;
}

.watch__clock_size_750x350 {
  width: 750px;
  height: 350px;
}

/* ------------------------------ */

.clock__time {
  display: flex;
  justify-content: flex-end;
  width: 190px;
}

.clock__time_size_big {
  font-size: 9vw;
}

.clock__time_color_red {
  color: tomato;
}

/* ------------------------------ */

.clock__dots_color_red {
  color: rgb(102, 56, 48);
}

/* ------------------------------ */

.clock__date {
    display: flex;
}

.clock__date_size_small {
  font-size: 3vw;
}

.clock__date_color_white {
  color: #e1e1e1;
}

.clock__date_font_apple {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}