@import "../__slider/_position/toggle__slider_position_center.css";
@import "../__slider/_color/toggle__slider_color_green.css";
@import "../__slider/_color/toggle__slider_color_grey.css";
@import "../__slider/_shadow/toggle__slider_shadow_inset.css";
@import "../__slider/_shadow/toggle__slider_shadow_inset_grey.css";

.toggle__slider {
  display: block;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 15px;
}
