@import "king.css";
@import "pawn.css";
@import "rook.css";
@import "bishop.css";
@import "queen.css";
@import "knight.css";

.row {
  font-size: 0;
}

.dots {
  background-color: rgb(132, 132, 132);
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid transparent;
  transition: 1s border-color;
}

.dots:hover {
  border-color: hotpink;
}

.dots:hover * {
  background-color: lawngreen;
}

.dots:hover .king::after {
  background-color: lawngreen;
}

.dots:hover .king::before {
  background-color: lawngreen;
}

.dots:hover .queen::after {
  background-color: lawngreen;
}

.dots:hover .queen::before {
  background-color: lawngreen;
}

.dots:hover .pawn::after {
  background-color: lawngreen;
}

.dots:hover .pawn::before {
  background-color: lawngreen;
}

.dots:hover .bishop::before {
  background-color: lawngreen;
  border-color: lawngreen;
}

.bl {
  background-color: brown;
}
